<script src="{{ url_for('static', filename='development/js/jquery-3.3.1.slim.js') }}"></script>
<script src="{{ url_for('static', filename='development/js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='development/js/bootstrap.js') }}"></script>